*{
    margin: 0px;
    padding: 0px;
}
body{
    max-width: 1440px;
    background-color: hsl(30, 54%, 90%);
}
.main_body{
    margin: 50px auto;
    max-width: 640px;
    border-radius: 40px;
    background-color: hsl(0, 0%, 100%);
    padding: 50px;
}
img{
    max-width: 100%;
    border-radius:30px;
}
h1{
    margin: 30px 0px;
}
.preparation_time{
    margin:10px 40px;
    line-height: 20px;
    background-color: hsl(330, 100%, 98%);
    padding: 40px;
}
.preparation_time>ul,.ingredients>ul,.instructions>ol{
    margin-left:30px;
    text-indent: 20px;
}
.preparation_time>ul>li>span,.instructions>ol>li>span{
    font-weight: 700;
    line-height: 30px;
}
.ingredients,.nutrition{
    margin: 20px 0px;
    line-height: 30px;
}
table,td,tr{
    
    border-collapse: collapse;
    border-bottom: 1px solid gray;
    width: 500px;
    margin: 30px;
    line-height: 40px;
}
.values{
    font-weight: 700;
    color: hsl(14, 45%, 36%);
}
/* fonts */

h1,h2,h3{
    color: hsl(14, 45%, 36%);
}
.outfit-content {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }
.young-serif-regular {
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
}
  